@import "../styles/variables.scss";

.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid $table-border;
    justify-content: space-between;
    font-weight: 400;
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;

    .logo {
      font-size: 30px;
    }

    .dropdown {
      border: 0px;
      outline: 0px;
      list-style: none;
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
    padding-top: 80px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
