<div class="home">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Car</th>
          <th>Model</th>
          <th>Price</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        @for (car of (carsData | async); track car.id) {
        <tr>
          <td>{{ car.make }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.price | currency }}</td>
          <td>{{ car.year }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="chart">
    <app-bar-chart [carData]="carsData | async"></app-bar-chart>
  </div>
  <div class="chart">
    <app-line-chart [carData]="carsData | async"></app-line-chart>
  </div>

  <!-- 1. get data from a service -->
  <!-- 2. display the data in a table -->
  <!-- 3. display data on a chart using chart.js - companring price of the models -->
  <!-- 4. write tests -->
  <!-- 5. upload to Github -->

  <!-- Other things to consider -->
  <!-- Observable data service for getting the data -->
  <!-- Click on a car to go to seperate page displaying more data -->
  <!-- Add a car to the list -->
  <!-- Delete a car from the list -->
  <!-- Edit a car in the list -->
  <!-- More RxJs -->
  <!-- Maybe use a real API with a search function? -->

  <!-- Create app in Angular 16 -->

  <!-- - Displaying data
  - interacting with data -->
</div>
