@import "../../styles/variables.scss";

.home {
  width: 100%;

  margin: 100px auto 0;
  color: black;
  display: flex;

  .table {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    table {
      flex: 0.5;
      border: 1px solid $table-border;
      border-collapse: collapse;
      background: #fff;
      overflow: hidden;

      td,
      th {
        padding-left: 8px;
        text-align: left;
        border-right: 1px solid $table-border;
      }

      thead tr {
        height: 60px;
        background: $grey;
      }

      tbody tr {
        height: 50px;
        font-family: $font-family;
        font-size: 15px;
        color: $font-color;

        &:nth-child(even) {
          background-color: $background-color;
        }

        &:hover {
          color: $font-color-dark;
          cursor: pointer;
        }
      }

      tr {
        border-bottom: 1px solid $table-border;
      }
    }
  }

  .chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
  }

  .spinner {
    color: $primary-color;
    font-size: 30px;
  }
}
