<div class="home">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Fuel</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        @for (powerType of (powerGenerationData | async)?.data[0].generationmix;
        track powerType.fuel) {
        <tr>
          <td>{{ powerType.fuel }}</td>
          <td>{{ powerType.perc }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="chart">
    <app-pie-chart
      [powerGeneration]="powerGenerationData | async"
    ></app-pie-chart>
  </div>

  <!-- <fa-icon class="spinner" [icon]="faSpinner" animation="spin"></fa-icon> -->
</div>
